:root {
  --font-family-main: 'Source Sans Pro', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  --heading-font-family: 'Ubuntu Condensed';
}

html {
  background: #f9f9f9;
  font-size: 15px; /* default 15px  */
  &.text-size-smallest {
    font-size: 13px; /* default 13px  */
  }
  &.text-size-smaller {
    font-size: 14px; /* default 14px  */
  }
  &.text-size-larger {
    font-size: 17px; /* default 17px  */
  }
  &.text-size-largest {
    font-size: 19px; /* default 19px  */
  }
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fCRc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fABc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fCBc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fBxc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fCxc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fChc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7mxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4WxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7WxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCRc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfABc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCBc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBxc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCxc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfChc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc3CsTYl4BOQ3o.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc-CsTYl4BOQ3o.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc2CsTYl4BOQ3o.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc5CsTYl4BOQ3o.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc1CsTYl4BOQ3o.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc0CsTYl4BOQ3o.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc6CsTYl4BO.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xFIzIXKMnyrYk.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xMIzIXKMnyrYk.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xEIzIXKMnyrYk.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xLIzIXKMnyrYk.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xHIzIXKMnyrYk.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xGIzIXKMnyrYk.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xIIzIXKMny.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic3CsTYl4BOQ3o.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic-CsTYl4BOQ3o.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic2CsTYl4BOQ3o.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic5CsTYl4BOQ3o.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic1CsTYl4BOQ3o.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic0CsTYl4BOQ3o.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic6CsTYl4BO.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntucondensed/v11/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-3fq9PrNX2-Ag.woff2)
    format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntucondensed/v11/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Tfq9PrNX2-Ag.woff2)
    format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntucondensed/v11/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-zfq9PrNX2-Ag.woff2)
    format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntucondensed/v11/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Pfq9PrNX2-Ag.woff2)
    format('woff2');
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntucondensed/v11/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-7fq9PrNX2-Ag.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntucondensed/v11/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfq9PrNX0.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNq7lujVj9_mf.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7lujVj9w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNa7lujVj9_mf.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qPK7lujVj9_mf.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNK7lujVj9_mf.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qO67lujVj9_mf.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qN67lujVj9_mf.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNq7lujVj9_mf.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7lujVj9w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmhdu3cOWxy40.woff2)
    format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwkxdu3cOWxy40.woff2)
    format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmxdu3cOWxy40.woff2)
    format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlBdu3cOWxy40.woff2)
    format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmBdu3cOWxy40.woff2)
    format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmRdu3cOWxy40.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdu3cOWxw.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: var(--font-family-main);
}

// Text styling
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 0.05rem;
  font-family: var(--heading-font-family);
}

// h1 {
//   font-size: 26px;
// }
// .cooked h1,
// .d-editor-preview h1 {
//   font-size: 26px;
// }

h2 {
  font-size: var(--font-up-3-rem);
}
.cooked h2,
.d-editor-preview h2 {
  font-size: var(--font-up-3-rem);
}
h3 {
  font-size: var(--font-up-2-rem);
}
.cooked h3,
.d-editor-preview h3 {
  font-size: var(--font-up-2-rem);
}
h4 {
  font-size: var(--font-up-1-rem);
}
.cooked h4,
.d-editor-preview h4 {
  font-size: var(--font-up-1-rem);
}
p {
  font-family: var(--font-family-main);
  line-height: 1.4;
  margin: 20px 0;
}
b,
strong {
  font-weight: bold;
}
.cooked big,
.d-editor-preview big {
  font-size: 1em;
}
span.text {
  font-size: 13px;
}
.alert.alert-info span.text {
  font-size: 15px;
}
a.fancy-title {
  // font-size: 28px;
}
.names span a {
  font-size: 16px;
  font-weight: normal;
  color: #858585;
  font-weight: bold;
}
.select-kit.dropdown-select-box {
  font-size: 15px;
}
.topic-body .cooked {
  padding: 30px 11px 20px 11px;
}
#topic-title .title-wrapper {
  padding: 16px 0 0;
}

.title-voting {
  margin-top: 6px;
  .vote-count-wrapper {
    border-radius: 4px;
  }
  .vote-button {
    padding: 6px 8px;
  }

  padding-top: 0;
  padding-right: 12px;
  width: 60px;
  max-width: 10%;
  box-sizing: border-box;
  float: left;
}

.topic-category {
  padding: 10px 0 0 0;
}
.category-breadcrumb {
  font-family: var(--font-family-main);
  font-size: 16px;
}
.select-kit .select-kit-row.is-highlighted {
  background: var(--secondary);
}
.select-kit .select-kit-row.is-selected {
  background: var(--secondary);
}
.select-kit .select-kit-row.is-selected.is-highlighted {
  background: var(--secondary);
}
.small-action-desc p {
  font-weight: bold;
  text-transform: uppercase;
  font-family: var(--font-family-main);
  font-size: 14px;
}
.cooked a {
  border-bottom: 1px solid #ccc;
}
.cooked a:hover {
  border-bottom: 1px solid #d16528;
}
a.mention {
  border-bottom: none;
  font-weight: normal;
  font-size: 0.8em;
  color: var(--tertiary);
  font-family: var(--font-family-main);
  padding: 0 6px 2px;
}
a.mention:hover {
  border-bottom: none;
  color: var(--primary);
}
.badge-notification.clicks {
  top: -3px;
}
.badge-notification {
  padding: 0.15em 0.3em;
}
blockquote {
  background-color: #fbfbfb;
  padding: 28px 38px;
  border-left: none;
  font-style: italic;
  color: #646464;
  margin: 0 0 30px;
}
.cooked ul,
.d-editor-preview ul {
  font-family: var(--font-family-main);
}
ol {
  font-family: var(--font-family-main);
}
kbd {
  font-size: 15px;
  font-family: 'Source Code Pro', monospace;
}
p > code,
li > code,
pre > code {
  font-family: 'Source Code Pro', monospace;
  font-size: 15px;
  font-style: normal;
  line-height: 1.6;
  font-size: 95%;
  padding: 0.2em 0.4em;
  background: #dfdfdf61;
  border-radius: 6px;
}

pre > code.hljs {
  background-color: #f4f4f4;
  border: 1px solid #d2d2d2;
}

.topic-list-item:hover {
  background: var(--primary-low);
  transition: all 0.25s;
}

// Settings: Hide user card bg
@if $hide_user_card_background == 'true' {
  .user-card .card-content,
  .group-card .card-content {
    background: #fff;
  }
}

.user-content-wrapper .user-content {
  padding: 12px;
}

// Header Branding
.b-header {
  .contents {
    .title {
      &:hover {
        &:after {
          color: #ffb200;
        }
      }
      display: flex;
      align-items: center;
      &:after {
        transition: color 0.2s;
        content: 'SiteRemix';
        color: #e2e2e2;
        font-family: 'Ubuntu Condensed';
        margin-left: 8px;
        font-size: 20px;
      }
    }
    display: flex;
    align-content: center;
    align-items: center;
  }
  .links {
    .widget-link {
      opacity: 0.9;
      &:hover {
        color: #ffb200;
      }
    }
    margin-left: auto;
  }
  #brand-logo {
    max-height: 29px;
  }
  background: #484848;
}

// Header
.d-header {
  padding: 6px 0;
  border-bottom: 1px solid #ccc;
  // background: rgba(242, 242, 242, 0.98);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.13);
}
.d-header-icons .d-icon {
  font-size: var(--font-up-2);
}

// Homepage banner
#main .banner-box .container {
  max-width: 1100px !important;
}
.banner-box .section-header .x-title {
  font-size: 75px;
  text-align: center;
  padding: 0 0 8px 0;
  font-family: 'Ubuntu Condensed', serif;
  line-height: 1;
  font-weight: 300;
  margin: 0 15px;
}
.banner-box .section-header .description p {
  font-size: 18px;
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  padding: 0;
}
.banner-box .section-header {
  padding-top: 40px;
  padding-bottom: 20px;
}

// Menu panel
.menu-panel {
  background-color: #fff;
}

.header-search-enabled.align-right .contents .search-header {
  margin: 0;
  margin-top: 14px;
  margin-right: 22px;
}

.search-menu.search-header {
  .search-icon {
    border-color: var(--header_primary-low-mid);
    .svg-icon {
      vertical-align: 0;
      width: 2em;
    }
  }
  .search-input {
    border-color: var(--header_primary-low-mid);
    .show-advanced-search,
    .clear-search {
      .svg-icon {
        vertical-align: 0;
      }
    }
    margin: 0;
    height: 30px;
  }
  .results {
    padding-top: 0.5em;
  }
}

details {
  > p {
    background: #f0f0f0;
    padding: 12px;
    margin-left: 6px;
    margin-top: 12px;
  }
  summary {
    font-family: 'Ubuntu Condensed', serif;
    font-size: 110%;
    &:before {
      color: #707070;
      content: '\25BA';
      margin-right: 0.15em;
      font-size: 70%;
    }
  }
}

.search-menu input[type='text'] {
  background-color: #fff;
}
.user-menu .quick-access-panel .read {
  background-color: #fff;
}

.do-not-disturb-inner-container {
  background-color: #fff;
}

.do-not-disturb-inner-container:hover {
  background-color: var(--highlight-medium);
}

.empty-state .empty-state-body p {
  font-size: 20px;
}
.user-menu .quick-access-panel li {
  background-color: var(--secondary);
}
.user-stream .notification.unread {
  background-color: #fff;
}

// Navigation pills
.nav-pills > li > a {
  color: var(--primary-high);
  background: transparent;
  padding: 6px 0 3px;
  margin: 0 12px;
  background-color: transparent !important;
}
.nav-pills > li a.active {
  color: var(--tertiary);
  border-bottom: solid 2px var(--tertiary);
  background-color: transparent !important;
}
.nav-pills > li > a:hover {
  color: var(--tertiary);
  background-color: transparent !important;
}
#navigation-bar {
  margin-left: 20px;
}
.select-kit.combo-box .select-kit-header {
  background-color: var(--primary-low);
  border: none;
}

// Drop downs
.select-kit .select-kit-collection {
  background-color: #fff;
}
.select-kit.single-select .select-kit-filter.is-expanded {
  background-color: #fff;
}

// Buttons
#topic-footer-buttons .pinned-button,
#topic-footer-buttons .topic-notifications-button {
  // display: none;
}
.top-title-buttons {
  font-size: var(--font-up-1-rem);
}
#create-topic.btn {
  background: var(--tertiary);
  color: var(--secondary);
}
#create-topic .d-icon {
  color: var(--secondary);
}
#create-topic.btn:hover {
  background: var(--tertiary-hover);
}

/* User cards
.user-card .card-content, .group-card .card-content {
    padding: 35px 30px;
    background: #fff;
}
*/

// Badges
.badge-wrapper.box {
  border-radius: 0.25em;
  overflow: hidden;
}
.badge-wrapper.bullet {
  .badge-category-bg {
    border-radius: 0.125em;
  }
}

// Categories page: Categories with featured topics
.category-list .featured-topic .topic-post-badges .badge.unread-posts,
.category-list .featured-topic .title {
  font-size: 18px;
  line-height: 1.2;
}
.category-list .featured-topic .topic-post-badges .badge.unread-posts,
.category-list .featured-topic .title:hover {
  color: var(--primary-med-or-secondary-high);
}
.category-list .featured-topic:first-of-type {
  margin: 8px 0 0;
}
.category-list .featured-topic {
  margin: 8px 0 0;
}
.list-cell,
.table-heading,
.category-list td,
.category-list th {
  padding: 20px 5px;
}
.category-list tbody .latest {
  vertical-align: top;
  padding: 15px 5px;
}

// Categories page: Categories & latest topics
.latest-topic-list .table-heading,
.top-topic-list .table-heading {
  padding: 20px 5px;
  border-bottom: 1px solid #c2c2c2;
}
.topic-list-item.visited a.title:not(.badge-notification),
.latest-topic-list-item.visited a.title:not(.badge-notification),
.category-topic-link.visited a.title:not(.badge-notification) {
  font-size: 1em;
}

// Categories page: Boxes with subcategories
.category-boxes .description {
  margin-top: 1em;
}
.category-boxes .category-box .category-box-inner:hover {
  background-color: var(--primary-low);
  transition: all 0.25s;
}

.category-boxes .category-box-inner,
.category-boxes-with-topics .category-box-inner {
  border: 1px solid var(--primary-low-mid);
}

// Categories page: Boxes with featured topics
.category-boxes-with-topics .featured-topics li a {
  font-size: 18px;
  line-height: 1.2;
}
.category-boxes-with-topics .featured-topics li a:hover {
  color: var(--primary-med-or-secondary-high);
}
.featured-topics .svg-icon {
  // display: none;
}

// Do not Disturb
.modal-inner-container {
  background-color: #fff;
}

.modal-header {
  border-bottom: none;
}

.modal-header h3 {
  font-size: var(--font-up-2-rem);
}

.tap-tile-grid .tap-tile:hover {
  background-color: var(--highlight-medium);
}

// Various
aside.onebox {
  border: none;
  background: #fbfbfb;
  padding: 2.5em;
  margin: 0 0 30px;
}
aside.onebox p {
  font-size: 19px;
  color: #646464;
}
aside.quote .title {
  padding: 12px;
  border: none;
}
div.poll {
  background: #fbfbfb;
  border: none;
}
.navigation-container {
  padding: 20px 5px;
}
.topic-list th,
.topic-list td {
  padding: 30px 10px;
}
.title,
.raw-link,
.raw-topic-link {
  font-size: 15px;
}

.topic-list-item.visited a.title:not(.badge-notification) {
  font-size: 15px;
}

.small-action {
  border-top: 1px solid;
  border-color: var(--quaternary);
  padding-top: 1em;
}
.topic-map section {
  background: var(--secondary);
  border: 0;
  padding: 8px;
}
.topic-map section:nth-of-type(2) {
  border: none;
}

.topic-map {
  .buttons .btn {
    background: none;
  }
  border: none;
}

.topic-body .topic-meta-data {
  margin-top: 0;
}

.topic-list thead {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
}

.post-avatar,
.topic-avatar,
.user-card-avatar {
  position: initial;
}

.topic-post.sticky-avatar .topic-avatar {
  position: unset;
}

.topic-body,
.topic-avatar {
  border-top: 1px solid;
  border-color: var(--quaternary);
  padding-top: 20px;
}
.timeline-container .topic-timeline .timeline-footer-controls .reply-to-post {
  display: none;
}
.widget-component-connector {
  // display: none;
}
.suggested-topics-message {
  margin-bottom: 100px;
}
.timeline-container .topic-timeline .timeline-handle {
  background-color: var(--tertiary);
}
.timeline-container .topic-timeline .timeline-scrollarea {
  border-left-color: var(--tertiary);
}
.topic-list .posters {
  // display: none;
}
.nav-pills > li a.active {
  background-color: var(--tertiary);
}
tbody {
  border-top: 1px solid var(--quaternary);
}
.heatmap-high,
.heatmap-high a,
.heatmap-high .d-icon,
.heatmap-high .d-button-label {
  color: var(--primary-high) !important;
}
.select-kit.dropdown-select-box.period-chooser .period-chooser-header h2.selected-name .date-section {
  font-size: 17px;
}
.post-info.edits .widget-button {
  // display: none;
}
.topic-list .age {
  width: 100px;
}
.topic-list .posts {
  width: 100px;
}
.topic-list .views {
  width: 100px;
}
#main-outlet {
  padding-top: 30px;
}
.suggested-topics .suggested-topics-title {
  font-size: 28px;
}
a.hashtag:hover span {
  text-decoration: none !important;
}
tr {
  border-bottom: solid 1px var(--primary-low-mid);
}
.fps-result {
  margin-bottom: 36px;
}
.small-action.topic-post-visited .topic-post-visited-line .topic-post-visited-message {
  color: var(--tertiary);
}
.topic-list .topic-list-item-separator td span {
  color: var(--tertiary);
}
.topic-list-item,
.latest-topic-list-item {
  &:hover {
    cursor: pointer;
    background: var(--primary-low) !important;
  }
}
.alert {
  background-color: var(--primary-low) !important;
}
.highlighted {
  animation: none !important;
}
.suggested-topics-message {
  font-style: normal;
}
.hljs {
  background-color: #fff;
}
.category-desc p {
  font-size: 14px;
  line-height: 1.2;
}

.badge-wrapper.bullet .badge-category-parent-bg,
.badge-wrapper.bullet .badge-category-bg {
  width: 11px;
  height: 11px;
  margin-right: 3px;
}

.bottom-row {
  font-size: 15px;
}

.categories-list .category .category-description {
  font-size: 15px;
  line-height: 1.2;
}

.popup-menu .btn:focus,
.popup-menu {
  background-color: #fff;
}
.popup-menu .btn:focus,
.popup-menu .btn:hover {
  background-color: var(--highlight-medium);
}

.btn:not(.search-icon),
.btn-primary {
  border-radius: 4px;
  font-family: 'Ubuntu Condensed';
  font-size: 16px;
  font-weight: 400;
}

.btn-small {
  height: 32px;
}

.topic-list-item.visited span.badge-category,
.latest-topic-list-item.visited span.badge-category,
.category-topic-link.visited span.badge-category {
  font-size: 1em;
  margin-left: 5px;
}

.topic-status-info,
.topic-timer-info {
  border-color: var(--primary-low-mid);
}

.reviewable-settings .reviewable-score-type .title {
  font-size: 18px;
}

hr {
  border-color: var(--quaternary);
}

.select-kit .select-kit-collection:hover .select-kit-row.is-highlighted:hover {
  background-color: var(--highlight-medium);
}

.select-kit-row {
  .category-status {
  }
}

img.avatar {
  border-radius: 10%;
}

.admin-reports.admin-contents,
.dashboard.admin-contents,
.dashboard-next.admin-contents {
  margin: 0;
  padding: 12px;
}

.admin-content {
  margin-bottom: 12px;
}

.admin-container,
.dashboard-next {
  margin: 0;
  padding: 12px;
}

.user-main .about.collapsed-info .details {
  padding: 0;
  padding: 12px 12px 4px;
  margin: 0;
}

html.whos-online-flair .topic-avatar.user-online {
  &:before {
    top: 15px;
    left: -4px;
    height: 7px;
    width: 7px;
    position: absolute;
  }
}

html.whos-online-flair body.user-page-online .collapsed-info .primary,
html.whos-online-flair .latest-topic-list .latest-topic-list-item.last-poster-online .topic-poster {
  &:before {
    top: -5px;
    left: -5px;
    height: 7px;
    width: 7px;
    z-index: 1;
    position: absolute;
  }
}

html.whos-online-flair #user-card.user-online .user-card-avatar {
  position: relative;
  &:before {
    width: 12px;
    height: 12px;
    top: 2px;
    left: 2px;
    position: absolute;
  }
}

#whos-online {
  display: flex;
  align-items: center;
  > * {
    margin-left: 6px;
  }
}

#site-logo {
  opacity: 0.9;
}
